<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Login</title>
    <link rel="stylesheet" href="{% static 'fazerlogin/css/estilo.css' %}">
</head>
<body>
    <div id="container">
        <img src="{% static 'fazerlogin/img/perfil.png' %}" alt="Ícone do Perfil">

        <form action="submit" method="POST">
            {% csrf_token %}
            <div>
                <input class="email" type="text" name="username" id="email" placeholder="Digite seu usuário">
            </div>

            <div>
                <input class="senha" type="password" name="password" id="senha" placeholder="Digite sua senha">
            </div>

            <div>
                <input class="submit" type="submit" value="Logar">
            </div>
        </form>
    </div>
    <div align="center">
        {% for message in messages %}
            <strong>Erro! </strong>{{ message }}
        {% endfor %}
    </div>
    
</body>
</html>